# General:
pip==19.3.1
moviepy==1.0.1
numpy==1.17.2
lxml==4.4.1
scipy==1.3.1

# Script parsing:
pdfminer.six==20181108
beautifulsoup4==4.8.1

# Natural language processing:
nltk==3.4.5
SpeechRecognition==3.8.1
deepspeech==0.5.1
