# General:
pip==19.3.1
setuptools==42.0.1
numpy==1.22.0
lxml==4.4.1
scipy==1.3.1
pandas==0.25.3

# Script parsing:
pdfminer.six==20181108
beautifulsoup4==4.8.1

# Natural language processing:
nltk==3.4.5
SpeechRecognition==3.8.1
deepspeech==0.5.1
google-cloud-speech==1.2.0

# Video/Audio processing:
moviepy==1.0.1
opencv-python==4.1.1.26
pydub==0.23.1
